h1, h2, h3, h4, h5, h6, p {
  margin-bottom: $spacer;
}

i {
  margin-right: $spacer*.5;

  &.singleton {
    margin-right: 0;
  }
}


header {
  padding: $spacer*2 0 $spacer;
  border-bottom: 1px solid $border-color;
}

main {
  min-height: 65vh;
  padding: $spacer*2 0;
}

footer {
  padding: $spacer 0 0;
  border-top: 1px solid $border-color;

  p {
    color: $text-muted;
    font-size: $font-size-sm;
  }
}

form {
  .col-form-label {
    color: $danger;
    font-size: $font-size-sm;
  }
}

section {
  article {
    padding: $spacer 0 0;
    border-top: 1px solid $border-color;

    h2 {
      i {
        color: $info;
      }
      span {
        display: inline-block;
        margin-left: $spacer*1.5;
        color: $text-muted;
        font-weight: $font-weight-normal;
      }
    }
  }
}


