// dump in some type stuff that would normally be in it's own file
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

$bespoke-font-family: 'Work Sans', sans-serif;
$bespoke-normal-weight: 400;
$bespoke-bold-weight: 500;

// preset bootstraps
$font-family-sans-serif: $bespoke-font-family !default;
$font-family-monospace: monospace !default;

// set font-awesome font path
$fa-font-path: "/webfonts" !default;

// some variables we will need in rewriting bootstrap
$bespoke-ochre: #c18123; // Warning
$bespoke-rhino: #264059; //	Info
$bespoke-hippieBlue: #5b8bb0; //	Primary
$bespoke-fruitSalad: #51a46d; //	Success
$bespoke-pomegranate: #f44336; //	Danger

$primary: $bespoke-hippieBlue !default;
$success: $bespoke-fruitSalad !default;
$info: $bespoke-rhino !default;
$warning: $bespoke-ochre !default;
$danger: $bespoke-pomegranate !default;

$font-size-base: 1rem !default;
$spacer: $font-size-base !default;
$font-size-lg: $font-size-base * 1.2 !default;
$font-size-sm: $font-size-base * .85 !default;

$h1-font-size: $font-size-base * 2.4 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.4 !default;
$h4-font-size: $font-size-base * 1.3 !default;
$h5-font-size: $font-size-base * 1.2 !default;

$font-weight-light: $bespoke-normal-weight !default;
$font-weight-normal: $bespoke-normal-weight !default;
$font-weight-bold: $bespoke-bold-weight !default;

$lead-font-weight: $bespoke-normal-weight !default;

$paragraph-margin-bottom: 0 !default;
$headings-margin-bottom: 0 !default;

$headings-font-weight: $bespoke-bold-weight !default;
