<form [formGroup]="searchForm">

  <div class="form-group row no-gutters">

    <div class="col-10 col-md-6 col-lg-5 col-xl-4">

      <input
        (keyup.enter)="doSearch()"
        class="form-control"
        formControlName="searchControl"
        id="movie-search-input"
        placeholder="What movie are you looking for?"
        type="text">

    </div>

    <div class="col-2 col-md-2 col-lg-1">

      <button [disabled]="searchForm.invalid || searchControl?.pristine"
              (click)="doSearch()"

              class="btn btn-primary"
              id="movie-search-submit"
              type="button">
          <i class="fas fa-search singleton"></i>
      </button>

    </div>

    <label *ngIf="searchForm.invalid && searchControl?.dirty"
           class="col-12 col-md col-form-label"
           for="movie-search-input">
      <i class="fas fa-exclamation-triangle"></i>
      Enter at least 4 characters
    </label>

  </div>

</form>

<p *ngIf="loading">
  <i class="fas fa-spin fa-spinner"></i>
  Searching the database
</p>

<aside *ngIf="movies?.count === 0 && searchControl?.pristine"
       class="text-info">
  Sorry, no results for <strong>{{searchControl?.value}}</strong>
</aside>

<aside *ngIf="serviceError && searchControl?.pristine"
       class="text-danger">
  Oops, looks like something has gone wrong!<br>
  This is the error:<br>
  <em>{{serviceError}}</em>
</aside>

<section *ngIf="movies && movies.count > 0">
  <p class="text-info">
    We found {{movies.count}} movie<span *ngIf="movies.count > 1">s</span> matching your search.
    <span *ngIf="movies.partialSet">Showing the first {{movies.count}} of {{movies.trueCount}}.</span>
  </p>
  <article *ngFor="let movie of movies.movies; let i = index">
    <h2 class="row">
      <div class="col-auto">
        <i class="fas fa-film singleton"></i>
      </div>
      <div class="col">
        {{movie.name}}
        <span>{{movie.year}}</span>
      </div>
    </h2>
    <app-translator [copy]="movie.description"></app-translator>
  </article>
</section>
