<div class="container">

  <header>

    <h1>
      Movie Database Search and Translator
    </h1>

    <p>Find movies that match your search and view the details in bleedin' cockney!</p>

  </header>

  <main>

    <app-search></app-search>

  </main>

  <footer>

    <div class="row">

      <p class="col-12 col-lg">
        Created 23/04/2021 by Simon Walter for myairops
      </p>

      <p class="col-12 col-lg-auto">
        <i class="fas fa-envelope"></i><a href="mailto:simon@onlineintegrity.net">simon@onlineintegrity.net</a>
      </p>

      <p class="col-12 col-lg-auto">
        <i class="fas fa-phone"></i><a href="tel:+447974344971">07974344971</a>
      </p>

    </div>

  </footer>

</div>
