
    <p *ngIf="loading">
      <i class="fas fa-spin fa-spinner"></i>
      Loading translation
    </p>
    <p *ngIf="!loading && !active">
      {{copy}}
    </p>
    <p *ngIf="!loading && !serviceError && active">
      {{translation}}
    </p>
    <p *ngIf="!loading && serviceError && active"
       class="text-danger">
      We can't find the translation right now. This is most likely because we have reached our limit of 6 translations an hour.
    </p>

    <p>
      <button (click)="switchVersion()"
              class="btn btn-primary btn-sm"
              type="button">
        <i class="fas fa-sync"></i>
        Switch to {{active ? 'English' : 'Cockney'}}
      </button>
    </p>
